* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow:hidden;
}
body {
    height: 100%;
    overflow:hidden;
}

.application button{ 
    height:34px;
    width: 30px;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor:pointer;
    text-align: center;  
}
button:hover
{ 
    background-color:lightgray;
}


/*背景*/
.chat_container{
    width: 100%;
    height: 100%;
    background:white;
}

/*聊天框*/
.chat_wrapper{
    position: absolute;
    left:-50%;
    top:-5%;
    width: 100%;
    height: 100%;
    transform: translate(+50%, +5%);
}

.user_list{
    float: left;
    height: 100%;
    width: 25%;
    background-image: linear-gradient(to top, #ffffff, #eecaa6,#a6c1ee);

}

.main{
    float: left;
    height: 100%;
    width: 75%;
    background-image: linear-gradient(to top, #ffffff, #eecaa6,#a6c1ee);
}

.user_name{
    height: 5%;
    background-color: rgb(171, 193, 234);
    text-align: center;
    overflow-y:auto;
    border-radius: 52px;
}

.chatList{
    height: 65%;
    background-color: #ffffff;
    position: relative;
    right: 10%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y:auto;
    border-radius: 15px;
}
.user_imag{
    width: 56px;
}
.user_imag_inside{
    height: 50px;
    width: 50px;
    position: relative;
    top:35px;
    left: 5px;
    border:2px solid #979f9f;
}

.application{
    height: 43px;
}

.emoji_btn{
    background: url(../images/emoji.png);
    position: relative;
    height:42px;
    width: 40px;
    left: -7%;
    top: 9%;

}

.picture,.history {
    height:34px;
    width: 32px;
    position: relative;
    top:9%;
    left: -5%;
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor:pointer;
    text-align: center;
    background: url(../images/picture.png);
    display: inline-block;
}
.picture:hover,.history:hover{
    background-color:lightgray;
}

.download{
    background: url(../images/download.png);
}

.history{
    background: url(../images/history.png);

}
/*文本框*/
.textview{
    height: 20%;
    background-color: white;
    text-indent:10px;
    overflow-y:auto;
    cursor:text;
    border-radius: 15px;
    position: relative;
    right: 10%;
}
.text_view{
    height: 98%;
    background-color: white;
    margin-top: 2px;
    border: none;
    resize: none;
    outline:none;
    cursor:text;
    text-indent:10px;
    border-radius: 15px;
    position: relative;

}

.send_block{
    height: 4%;
    background-color: white;
}
/*发送按钮*/
.send{
    height: 20px;
    width: 80px;
    background-color:rgb(253, 188, 188) ;
    border-radius: 25px;
    position:absolute;
    left: 80%;
    top:80%
}

.hischatImage img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.chatImage  img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.User_in {
    font-family:"华文黑体";
    color: gray;
    font-size:10px;
    font-weight:bold;
    display:table;
    margin:2px auto;
}
.user_message{
    width: 100%;
    height:15%;
    background-image: linear-gradient(to bottom, #abc0e9, #b2c3e4, #bbc4da);
    border-bottom: 1px solid rgb(151, 159, 159);

}

.other_user_message{
    width: 100%;
    height:15%;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgb(151, 159, 159);
}

.user_content{
    width: 120px;
    text-align: right;
    font-family:"华文黑体" ;
    font-size:20px;
    font-weight: bold;
    color: gray;
    position: relative;
    left: 20%;
}
.my_Chatbox{
    background-color: #acc1e9;
    border-radius: 15px;
    width:fit-content ;
    position: relative;
    right:10%;
    border: 1px solid white;
    padding: 7px;
    float: right;
    clear: right;
}
.my_Chat{
    /*text-align:center;*/
    font-weight: bold;
    font-size: 15px;
    text-align:left;
}
.others_Chatbox{
    background-color: #f6e3cf;
    border-radius: 15px;
    width:fit-content ;
    position: relative;
    right:-10% ;
    border: 1px solid white;
    padding: 7px;
}
.others_Chat{
    font-family: 华文黑体;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}
.my_Chat_image{
    height: 30px;
    width: 30px;
    border:2px solid gainsboro;
    position: relative;
    right: -93%;
    transform:translateY(-30px);
    clear: right;
}
.other_Chat_image{
    height: 30px;
    width: 30px;
    border:2px solid gainsboro;
    position: relative;
    transform:translateY(-30px);
    right: -3%;
}
.chat_my_Image{
    height: 30px;
    width: 30px;
}
/*.my_Chat_cotainer{
    width: 200px;
    height: 200px;
}*/
.sendImage{
    height: 200px;
    width: 150px;
}
.user_name{
    text-align: center;
    font-family: 华文黑体;
    font-weight: bold;
    color: #777f88;
    position: relative;
    left: -10%;
}