html,body{
    height: 90%;
}
.container{
    height:70%;
    background-image: linear-gradient(to top, #ffffff, #eecaa6,#a6c1ee);
}
.box{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:200px;
    overflow: hidden;
    background: url(../images/雪山.png) repeat;
    animation: mountain 20s linear infinite;
}
.bear{
    position: absolute;
    width:200px;
    height: 100px;
    left: 0;
    bottom: 0;
    background: url(../images/北极熊.png) no-repeat;
    animation: run 1s steps(8) infinite,move 3s linear 1 forwards;
}
@keyframes run{
    0%{
        background-position: 0;
    }
    100%{
        background-position: -1600px 0;
    }
}

@keyframes move{
    0%{
        left: 0;
    }
    100%{
        left: 50%;
        transform: translateX(-50%);
    }
}
@keyframes mountain{
    0%{
        background-position: 0;
    }
    100%{
        background-position: -3840px 0;
    }
}

.loader {
    position: relative;
    top :50%;
    width: 40%;
    height:12%;
}

.loader span {
    position: relative;
    font-size: 5em;
    font-weight: bold;
    color: #f2f2f2;
    position: relative;
    left: 70%;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

.loader:hover span {
    animation-play-state: paused;
}
@keyframes animate {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-50px);
    }
}

.login-wrapper {
    background-color: #fff;
    border: 2px solid #979f9f;
    width: 150px;
    height: 300px;
    border-radius: 20px;
    padding: 50px 45px;
    position: relative;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-item {
    display: block;
    width: 80%;
    margin-bottom: 60px;
    margin-top: 10px;
    border: 0;
    padding: 15px;
    border-bottom: 1px solid rgb(151, 159, 159);
    font-size: 15px;
    outline: none;
}


.btn {
    display: inline-block;
    border-radius: 10px;
    background-color: #fbcbc2;
    border: 2px solid #acc1e9;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    height: 40px;
    width: 157px;
    position: absolute;
    bottom: 70px;
    transition: all 0.5s;
    cursor: pointer;
}
.btn span {
    font-size: 20px;
    color: #777f88;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}
.btn span:after {
    content: '\00bb';
    position:relative;
    opacity: 0;
    top: -2px;
    right: 300px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 5px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.signUp {
    display: inline-block;
    border-radius: 10px;
    background-color: #fbcbc2;
    border: 2px solid #acc1e9;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    height: 40px;
    width: 157px;
    position: absolute;
    bottom: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.signUp span {
    font-size: 20px;
    color: #777f88;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}
.signUp span:after {
    content: '\00bb';
    position:relative;
    opacity: 0;
    top: -2px;
    right: 300px;
    transition: 0.5s;
}
.signUp:hover span {
    padding-right: 5px;
}

.signUp:hover span:after {
    opacity: 1;
    right: 0;
}
.submit_Signup {
    display: inline-block;
    border-radius: 10px;
    background-color: #fbcbc2;
    border: 2px solid #acc1e9;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 75px;
    position: absolute;
    left: 30px;
    transition: all 0.5s;
    cursor: pointer;
}
.submit_Signup span {
    font-size: 15px;
    color: #777f88;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}
.submit_Signup span:after {
    content: '\00bb';
    position:relative;
    opacity: 0;
    top: -2px;
    right: 300px;
    transition: 0.5s;
}

.submit_Signup:hover span {
    padding-right: 5px;
}

.submit_Signup:hover span:after {
    opacity: 1;
    right: 0;
}
.cancel_Signup {
    display: inline-block;
    border-radius: 10px;
    background-color: #fbcbc2;
    border: 2px solid #acc1e9;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 75px;
    position: absolute;
    right: 40px;
    bottom: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.cancel_Signup span {
    font-size: 15px;
    color: #777f88;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;

}
.cancel_Signup span:after {
    content: '\00bb';
    position:relative;
    opacity: 0;
    top: -2px;
    right: 300px;
    transition: 0.5s;
}

.cancel_Signup:hover span {
    padding-right: 5px;
}

.cancel_Signup:hover span:after {
    opacity: 1;
    right: 0;
}

.headImage{
    height:55px;
    width: 55px;
    border-radius: 50%;
    background-color: #ffffff;
}
.imageHead{
    height: 70px;
    width: 70px;
    position: relative;
    right: -43px;
    border-radius: 50%;
}
.QQ{
    z-index: 1;
    display: block;
    position: absolute;
    left:3%;
    bottom:63%;

}
.Lock{
    z-index: 1;
    display: block;
    position: absolute;
    left:5%;
    top: 58%;
}
.sign_Lock{
    z-index: 1;
    display: block;
    position: absolute;
    left:5%;
    top: 50%;
}

.sign_Lock_again{
    z-index: 1;
    display: block;
    position: absolute;
    left:5%;
    top: 70%;
}
.sign_input_item {
    display: block;
    width: 80%;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(151, 159, 159);
    font-size: 15px;
    outline: none;
}